#logo_cont {
    background-color:#367fa9;
    max-block-size:max-content;
    
}

#cont_logo{
    padding-top: 1em;
    padding-left: 1em;
}


.dp_1 {
    border: 2px solid #7d6754;
    border-radius: 5px;
    padding: 3px;
    -webkit-appearance: none;
    background-image: url('https://i.ibb.co/7rD0qP2/caret-down-fill.png');
    background-position: 95%;
    background-repeat: no-repeat;
    width: 25%;
}

.dp_big {
    border: 2px solid #7d6754;
    border-radius: 5px;
    padding: 3px;
    -webkit-appearance: none;
    background-image: url('https://i.ibb.co/7rD0qP2/caret-down-fill.png');
    background-position: 95%;
    background-repeat: no-repeat;
    width: 50%;
}

.tb_capacityactiv{
    width:10%;
}

.btn_submit {
    background-color: aquamarine;
}